[Unit]
Description=Load mudaq kernel module
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/sbin/modprobe mudaq
ExecStop=/sbin/modprobe -r mudaq
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
